<div class="p-card">
  <form class="" [formGroup]="editVesselForm" (ngSubmit)="editVessel()">
    <div class="grid p-fluid justify-content-center">
      <div class="col-11">
        <input type="text" pInputText formControlName="hud" placeholder="{{ vessel.hud }}">
      </div>
      <div class="col-11">
        <input type="text" pInputText formControlName="name" placeholder="{{ vessel.name }}">
      </div>
      <div class="col-11">
        <input type="text" pInputText formControlName="type" placeholder="{{ vessel.type }}">
      </div>
    </div>
    <div class="grid p-fluid justify-content-center">
      <div class="col-4">
        <div class="p-inputgroup">
          <input type="number" pInputText formControlName="crew" placeholder="{{ vessel.crew }}">
        </div>
      </div>
      <div class="col-4">
        <div class="p-inputgroup">
          <input type="number" pInputText formControlName="passengers" placeholder="{{ vessel.passengers }}">
        </div>
      </div>
      <div class="col-3">
        <div class="p-inputgroup">
          <input type="number" pInputText formControlName="fighters" placeholder="{{ vessel.fighters }}">
        </div>
      </div>
    </div>
    <div class="justify-content-around grid p-4">
      <button class="p-button col-5 justify-content-center" type="submit">
        <span class="text-center">Edit</span>
      </button>
      <button (click)="onCancel()" class="p-button p-button-warning col-5 justify-content-center" type="button">
        <span class="text-center">Cancel</span>
      </button>
    </div>
  </form>
</div>

