<div class="p-card mb-3 p-3">
  <p-dropdown
    [options]="vesselRegistry"
    [(ngModel)]="vessel"
    placeholder="Select Vessel"
    [filter]="true"
    filterBy="name"
  >
    <ng-template pTemplate="item" let-ship>{{ ship.name }}</ng-template>
    <ng-template pTemplate="selectedItem" let-ship>{{ ship.name }}</ng-template>
  </p-dropdown>
  <div *ngIf="vessel">
<!--    <p-card>-->
      <h3>{{ vessel.name }}</h3>
      <div>HUD: {{ vessel.hud }}</div>
      <div>Type: {{ vessel.type }}</div>
      <div>Crew: {{ vessel.crew }}</div>
      <div>Passengers: {{ vessel.passengers }}</div>
      <div>Fighters: {{ vessel.fighters }}</div>
      <div>TaskForce: {{ vessel.taskForce?.name! }}</div>
<!--    </p-card>-->
  </div>
</div>
