<p-card>
  <div class="flex justify-content-center align-content-center align-items-stretch flex-wrap">
    <form class="" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="border-round m-4 justify-content-center align-items-center">
        <h2 class="text-center">ALLIANCE FLEET MANAGEMENT</h2>
        <div class="text-center">
          <img class="m-auto w-4" src="assets/alliance_logo.png">
        </div>
      </div>
      <div class="p-float-label border-round m-4 align-items-stretch">
        <input id="float-input" class="w-full" type="text" pInputText formControlName="username" required>
        <label for="float-input">Username</label>
        <div class="text-red-500"
                *ngIf="(loginFormControl.username.touched)
                && loginFormControl.username.errors?.['required']">
        Please enter a username</div>
      </div>
      <div class="p-float-label border-round m-4 align-items-center">
        <input id="password" type="password" class="w-full" pInputText formControlName="password" required>
        <label for="password">Password</label>
        <div class="text-red-500"
              *ngIf="(loginFormControl.password.touched)
              && loginFormControl.password.errors?.['required']">
          Please enter a password
        </div>
      </div>
      <div class="border-round m-4 align-items-stretch flex justify-content-center">
        <button class="p-button w-full justify-content-center align-items-center"
                type="submit" pButton [disabled]="!loginForm.valid">
          <span class="text-center">Log In</span>
        </button>
      </div>
      <div class="justify-content-center align-items-center">
        <p class="text-center w-full justify-content-center align-items-center">
          <a routerLink="/register" routerLinkActive="active">Don't have an account? Register here!</a>
        </p>
      </div>
    </form>
  </div>
</p-card>

