<p-menubar *ngIf="authService.isLoggedIn()" [model]="items">
  <ng-template pTemplate="start">
    <div class="flex align-items-center mr-2">
      <img src="assets/alliance_logo.png" class="h-3rem">
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="cursor-pointer" (click)="logout.toggle($event)">
      <p-avatar icon="pi pi-user"></p-avatar>
      {{ authService.getUsername() }}
    </div>
  </ng-template>
</p-menubar>

<p-tieredMenu #logout [model]="user" [popup]="true"></p-tieredMenu>
